PORT=3500

FRONTEND_URL=http://localhost:5173

# MongoDB connection string - Replace with your actual MongoDB URI
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/database_name?retryWrites=true&w=majority

# Database name
DB_NAME=smartstock

# Allowed origins for CORS
ALLOWED_ORIGINS=http://localhost:5173
